:root {
    --main-color: rgba(118, 127, 110, 0.6);
    --main-bg-color: rgba(118, 127, 110, 0.3);
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 500;
    color: var(--main-color);
    font-size: 70px;

}

h3 {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 300;

}

h2 {
    text-align: center;
    color: var(--main-color);
    font-size: 48px;
    font-weight: 500;

}

.header {
    position: relative;
}

.headline {
    margin-left: 135px;
}

.overlap-box {
    background-color: var(--main-bg-color);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: -1;
    right: 0;

}

.green-box {
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-bg-color);

}

.about-paragraph1 {

    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 750px;
    padding-right: 200px;
    color: var(--main-color);
}

.header-spacing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 130px;


}

span {
    padding-bottom: 180px;
}

.linkedIn-link {
    text-decoration: none;
    color: var(--main-color);
    z-index: 100;
    font-size: 18px;
}


.linkedIn-link:hover {
    color: #FFFF;
}

.navigation-links {
    background-color: #FFFF;
}

.navigation-links a {
    text-decoration: none;
    color: var(--main-color);
}

.navigation-links a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.primary-link {
    padding: 20px 15px;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    display: inline-flex;
}

.project-section-spacing {
    margin-top: 220px
}

.about-section-spacing {
    margin-top: 100px;

}

.about-section {
    display: flex;
    text-align: center;
}

.me {
    width: 50%
}

.container-contact {
    margin-top: 70px;
}

/* responsiveness */

@media (max-width: 1050px) {

    h1 {
        font-size: 45px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    .header {
        background-color: var(--main-bg-color);
        width: 100%;
        display: flex;
        justify-content: left;
    }

    .green-box {
        display: none;
    }

    .overlap-box {
        display: none;
    }

    .about-paragraph1 {
        display: none;
    }

    .linkedIn-link {
        display: none;
    }

    .project-section-spacing {
        margin-top: 70px;
    }

    .container {
        text-align: center;
    }
}