:root {
    --main-text-color: rgba(118, 127, 110, 0.6);
    --main-bg-color: rgba(118, 127, 110, 0.3);

}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
    color: var(--main-text-color);
    font-size: 70px;

}


.header {
    position: relative;
}

.headline {
    margin-left: 135px;
}

.overlap-box {
    background-color: var(--main-bg-color);
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: -1;
    right: 0;

}

.green-box {
    justify-content: flex-end;
    background-color: var(--main-bg-color);

}

.about-paragraph {

    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 750px;
    padding-right: 200px;
    color: var(--main-text-color);
}

.spacing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 130px;


}

span {
    padding-bottom: 180px;
}

.linkedIn-link {
    text-decoration: none;
    color: var(--main-text-color);
    z-index: 100;
    font-size: 18px;
}


.linkedIn-link:hover {
    color: #FFFF;
}

.navigation-links {
    flex-direction: row-reverse;
    row-gap: 20px;
    margin-top: 10px;

}

.navigation-links a {
    text-decoration: none;
    color: var(--main-text-color);
    padding-right: 60px;
}

.navigation-links a:hover {
    text-decoration: underline;
}